header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header p {
  margin: 8px;
  display: inline-block;
}

header img {
  width: 85px;
}

/* GENERAL */
.game {
  text-align: center;
  margin: auto;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.dice-box {
  position: relative;
  margin: auto;
}

.turn-order {
  padding-top: 2vh;
  height: 8vh;
  font-weight: 300;
}
.turn-order div {
  display: inline;
}
.turn-order span {
  transition: 0.5s;
}

/* SHOWN CARD */
.shown-card {
  position: absolute;
  background-color: #333;
}
.shown-card.right {
  top: 0;
  right: 0;
  height: 100vh;
  width: 33vw;
  background: linear-gradient(to right, transparent, #1e1e1e 5vw);
  display: flex;
  align-items: center;
}
.shown-card.left {
  top: 0;
  left: 0;
  height: 100vh;
  width: 33vw;
  background: linear-gradient(to left, #11111100, #1e1e1e 5vw);
  display: flex;
  align-items: center;
}
.shown-card.top img {
  box-shadow: none;
}
.shown-card.top {
  bottom: 34.3vh;
  left: calc(50vw - 20.475vh);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shown-card.top img {
  box-shadow: #1e1e1e 0 0 25px 25px;
}

.shown-card .large-enlarged {
  width: 46vh;
  height: 78.5vh;
  border-radius: 2vh;
  user-select: none;
}
.shown-card.right .large-enlarged {
  margin-left: 6vw;
}
.shown-card .small-enlarged {
  width: 40.95vh;
  height: 57.2vh;
  border-radius: 1.3vh;
  user-select: none;
}
.shown-card.left .large-enlarged {
  margin-left: 1vw;
}

/* HAND */
.bottomMenu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
  width: 100vw;
  background: linear-gradient(to bottom, transparent, #1e1e1e 8vh);
  transition: ease-in-out 0.2s;
}
.bottomMenu .discard {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #fc7c37;
  border-radius: 50%;
  left: 1vw;
  bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bottomMenu .discard span.material-symbols-outlined {
  font-size: 40px;
  transition: 0.3s;
  user-select: none;
}
.bottomMenu .discard:hover span.material-symbols-outlined {
  font-size: 50px;
  font-size: 55px;
}
.hand {
  display: flex;
  align-items: flex-end;
}
.hand img.small-md {
  margin: 0 2px;
  width: 18.837vh;
  height: 26.312vh;
  border-radius: 0.8vh;
  border: 0px solid #fc7c37;
  user-select: none;
  transition: ease-in-out 0.2s;
}
.hand img.small-md:hover {
  margin: 25px 12px;
  border: 4px solid #fc7c37;
  cursor: pointer;
}

/* START ROLL */

.start-roll_summary {
  display: flex;
}
.start-roll_summary {
  display: flex;
  margin-left: auto;
}
.summary-player {
  margin-left: 20px;
}
.summary-player span {
  font-weight: 400;
}

/* BOARD */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  display: flex;
  height: 83vh;
  width: 55vh;
  padding: 2vh;

  flex-direction: column;
  align-items: center;
}

.player-board h4 {
  margin: 0.3vh 0.8vh;
}

.player-board .mat {
  padding: 3vh 2vh;
  border: 1px solid;
  width: 44.1vh;
  height: 30.4vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2vh;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.own-board .mat {
  padding: 4.5vh 3vh;
  border: 2px solid;
  width: 57.3vh;
  height: 39.5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3vh;
}
.own-board .small {
  border: 0.25vh solid #fff;
  background-color: #0000003a;
  width: 10.6vh;
  height: 14.9vh;
  border-radius: 0.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.own-board .large {
  border: 0.25vh solid #fff;
  background-color: #0000003a;
  width: 11.8vh;
  height: 20.3vh;
  border-radius: 0.8vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.own-board img.small-card {
  width: 10.6vh;
  height: 14.9vh;
  border-radius: 0.4vh;
  user-select: none;
}
.own-board img.large-card {
  width: 11.8vh;
  height: 20.3vh;
  border-radius: 0.6vh;
  user-select: none;
}

.center-board .mat {
  padding: 3vh 0 3vh 3.5vh;
  width: 50vh;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-radius: 2.5vh;
  background-image: url('./assets/mats/central.png');
  background-size: cover;
}
.center-board .small-cards {
  display: flex;
  justify-content: space-between;
  rotate: 270deg;
  margin-left: -1.8vh;
  margin-right: -1vh;
}
.small-cards .small {
  margin: 0 0.5vh;
}

.small {
  border: 0.15vh solid #fff;
  background-color: #0000003a;
  width: 8.19vh;
  height: 11.44vh;
  border-radius: 0.3vh;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}
.large {
  border: 0.15vh solid #fff;
  background-color: #0000003a;
  width: 9.1vh;
  height: 15.7vh;
  border-radius: 0.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.small:hover {
  border-color: #fc7c37;
}
.large:hover {
  border-color: #fc7c37;
}

.mat.bard {
  background-image: url('./assets/mats/bard.png');
  background-size: cover;
}
.mat.fighter {
  background-image: url('./assets/mats/fighter.png');
  background-size: cover;
}
.mat.guardian {
  background-image: url('./assets/mats/guardian.png');
  background-size: cover;
}
.mat.ranger {
  background-image: url('./assets/mats/ranger.png');
  background-size: cover;
}
.mat.thief {
  background-image: url('./assets/mats/thief.png');
  background-size: cover;
}
.mat.wizard {
  background-image: url('./assets/mats/wizard.png');
  background-size: cover;
}

img.small-card {
  width: 8.19vh;
  height: 11.44vh;
  border-radius: 0.2vh;
  user-select: none;
  transition: ease-out 0.5s;
}
img.large-card {
  width: 9.2vh;
  height: 15.7vh;
  border-radius: 0.4vh;
  user-select: none;
  transition: ease-out 0.5s;
}
img.glow {
  box-shadow: #fc7c37 0 0 12px 12px;
}
img.click:hover {
  cursor: pointer;
}
