header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header p {
  margin: 8px;
  display: inline-block;
}

header img {
  width: 85px;
}

.game {
  text-align: center;
  margin: auto;
}

.dice-box {
  position: relative;
  width: auto;
  height: 100%;
}

.start-roll_summary {
  display: flex;
}

.start-roll_summary {
  display: flex;
  margin-left: auto;
}
.summary-player {
  margin-left: 20px;
}
.summary-player span {
  font-weight: 400;
}
